/* Importa as fontes do google */
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Henny+Penny&family=Knewave&family=Leckerli+One&family=Meow+Script&family=Playwrite+VN+Guides&family=Ribeye+Marrow&display=swap");

.playwrite-de-sas-400{
    font-family: "Ribeye Marrow", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.licorice-regular{
    font-family: "Licorise,cursive";
    font-weight: 400;
    font-size: normal;
}
/*variéveis*/
:root, [data-sm-theme=ligtn]{
    font-size: 20px;
    font-family: "Ribeye Marrow", serif;
    --cor_principal: #18a518;
    --cor_secundaria: #eaee1a;
    --cor_auxiliar1: #8cbfaf;
    --cor_auxiliar2: #0ff363;
    --cor_auxiliar3: #c7edc4;
}
/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* Verificar por que não funcionou */
body{
    min-width: 700px;
    min-height: 400px;

}
/*Cabeçalho*/
header{
    position:fixed;
    top: 0;
    width: 100vw;

}
header#header_page{
    padding-top: 0.7rem;
    height: 2rem;
    background-color: var(--cor_principal);
}
nav#nav_header_top{
    display: flex;
    justify-content:end ;
}
nav#nav_header_top > ul{
    display: flex;
    gap: 1rem;
}
nav#nav_header_top > ul li{
    list-style: none;
 
}
a.nav_menu_top_item{
    padding: 0.25rem;
}
a.nav_menu_top_item{
    text-decoration: none;
    color: #000000;
}
a.nav_menu_top_item:hover{
    color: #eee71a;
    background-color: #474431;
}
a.nav_menu_top_item[href ="#"]:hover{
    color: #eee71a;
    background-color: rgb(252, 248, 248);

}
/*Conteúdo Principal*/
hr.hr_left_right{
    height: 0.5rem;
    background: linear-gradient(to right, var(--cor_secundaria) 30%, var(--cor_principal) 70%);
    border-style: none;
}
hr.hr_right_left{
    height: 0.5rem;
    background: linear-gradient(to left, var(--cor_secundaria) 30%, var(--cor_principal) 70%);
    border-style: none;
    
    
}
/*main#main_page{*/
img#logo_page{
  z-index: 100;
  width: auto;
  height: auto;
  max-width: 10rem;
  max-height: 10rem;
  position: fixed;
  right: 1rem;
  bottom: 3.5rem;
}
main section.impar{
    background: radial-gradient(circle, var(--cor_auxiliar3) 0% , var(--cor_auxiliar2) 50% , var(--cor_auxiliar1)100%);
}
main section.par{
    background: radial-gradient(circle, var(--cor_auxiliar1) 0% , var(--cor_auxiliar2) 50% , var(--cor_auxiliar3) 100%);
}
section[id]{
    height: calc(100vh - 2rem);
    padding-top: 2rem;
}
section[id]:last-child{
    height: calc(100vh - 6rem);
}
/*continuar daqui*/
.div_main_page{
    width: 90vw;
    margin: auto;
}
.main_page_publishes{
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: inherit;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-items: center;
}
section#div_main_page{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section#div_main_contacts form{
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
input[type]{
    border-radius: 15px;
    box-shadow: 5px 2px 15px var(--cor_auxiliar2);
    height: 2rem;
    padding: 0.5rem;
}
input[type='submit'], input[type='reset']{
    height: 1.5rem;
    width: 5rem;
    padding: 0;
}
textarea{
    border-radius: 15px;
    box-shadow: 5px 2px 15px var(--cor_auxiliar2);
    height: 5rem;
    padding: 0.5rem;
}
#foto_perfil{
    border-radius: 15px;
    box-shadow: 5px 2px 5px 2px var(--cor_secundaria);
    width: auto;
    height: auto;
    max-height: 30%;
    max-width: 30%;
    height: auto;
}
:root{
    --hue_base: 0;
    --saturartion_base: 23%;
    --ligth-base: 94%;
    --alpha-base:0.234;
}
.card{
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 17rem;
    border-style: outset;
    border-radius: 1rem;
    background-color: hsla(var(--hue_base), var(--saturartion_base),var(--ligth-base), var(--alpha-base));

}
.pub{
    padding: 0.5rem;
    border-style: none;
    --alpha-base: 0.2;
    font-size: 0.8rem;
}
.pub > img{
    border-radius: 0.5rem;
    margin-bottom: 0.3rem;
}

/*Rodapé*/
footer#footer_page{
    display: flex;
    justify-content: center;
    height: 3rem;
}
footer.msg_footer{
    display: flex;
}
/*tema escuro*/
[data-sm-theme=dark]{
    --cor_principal: #0d1902;
    --cor_secundaria: #4c562c;
    --cor_auxiliar1:#274b07;
    --cor_auxiliar2:#484431;
    --cor_auxiliar2:#30362a;
}
@media screen and (max-width: 870px) {
    main > section > h1 {
        font-size: 30px;
    }
    *{
        font-size: 10px;
    }
    img#logo_page{
        max-width: 6rem;
        max-height: 6rem;
    }
    #imagem_principal{
        max-width: 8rem;
        max-height: 8rem;

    }
    
}
@media screen and (max-width: 710px) {
    main > section > h1 {
        font-size: 20px;
    }
    img#logo_page{
        max-width: 4rem;
        max-height: 4rem;
    }
    #imagem_principal{
        max-width: 6rem;
        max-height: 6rem;
    }
    
}